#main{

    border:1px #F2F2F2 solid;
    padding:10px;
    margin:5px;
    min-width:1020px;
    text-align:center;

}

#input-div{
    width:500px;
    display:inline-block;
    vertical-align:top;
    padding:5px;
    border:1px #F2F2F2 solid;

}

#ref-div{
    width:500px;
    display:inline-block;

    vertical-align:top;
    padding:5px;
}

#user_twitter{

    text-align:center;
}
#imageUser{
    width: 50px;
    height: 50px;
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    border: 2px solid #faf5fa;
}
#ima{
    width: 150px;
    height: 150px;
}
#Password{
    text-align: center;
}
#Password input{
    
    margin: 20px;
    padding: 15px;
    width: 30%;
    margin-left: 35%;
    font-size: 100%;
    text-align: center;
    border: none;
    border-bottom: 1px solid;
    color: black;
}
